body {
    margin: 0;
}

header, main, footer {
    margin-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        margin-left: 0;
    }
}

main {
    padding: 10px 20px 20px;
}

.nav-wrapper {
    min-height: 70px;
}

.nav-wrapper .right {
    margin-top: 10px;
    margin-right: 10px;
    line-height: normal;
    text-align: right;
}

nav, footer {
    background-color: #da1f3d !important;
}

.brand-logo {
    margin-left: 20px;
}

ul.sidenav.sidenav-fixed li.logo {
    margin-top: 32px;
    margin-bottom: 50px;
}

ul.sidenav.sidenav-fixed .brand-logo {
    margin: 0;
}

ul.sidenav.sidenav-fixed li.logo img {
    width: 250px;
}

ul.sidenav li.logout {
    /*margin-top: 130px;*/
}

.copy-item {
    padding-left: 72px !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.navbar-fixed{
	padding-bottom: 100px;
}
.red-kath{
	color: #da1f3d;
}

